@font-face {
  font-family: "iconfont"; /* Project id 3287046 */
  src: url('iconfont.woff2?t=1649753466695') format('woff2'),
       url('iconfont.woff?t=1649753466695') format('woff'),
       url('iconfont.ttf?t=1649753466695') format('truetype'),
       url('iconfont.svg?t=1649753466695#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantieban:before {
  content: "\e628";
}

.icon-xinjian:before {
  content: "\e627";
}

.icon-shuaxin:before {
  content: "\e784";
}

.icon-daochu:before {
  content: "\e626";
}

.icon-icon112:before {
  content: "\e78b";
}

.icon-icon117:before {
  content: "\e795";
}

.icon-icon118:before {
  content: "\e796";
}

.icon-icon119:before {
  content: "\e797";
}

.icon-icon120:before {
  content: "\e798";
}

.icon-icon031:before {
  content: "\e652";
}

.icon-shenhe:before {
  content: "\e69a";
}

.icon-icon32:before {
  content: "\e68a";
}

.icon-jishuwenjianbiaodan:before {
  content: "\e625";
}

.icon-lingjian:before {
  content: "\e684";
}

.icon-xml:before {
  content: "\e618";
}

.icon-WPSExcel:before {
  content: "\e619";
}

.icon-drw:before {
  content: "\e61a";
}

.icon-asm:before {
  content: "\e61b";
}

.icon-dxf:before {
  content: "\e61c";
}

.icon-dwg:before {
  content: "\e61d";
}

.icon-png:before {
  content: "\e61e";
}

.icon-CATProduct:before {
  content: "\e61f";
}

.icon-UGPARTprt:before {
  content: "\e620";
}

.icon-prt:before {
  content: "\e621";
}

.icon-CATPart:before {
  content: "\e622";
}

.icon-CATDrawing:before {
  content: "\e623";
}

.icon-jpeg:before {
  content: "\e624";
}

.icon-chanpinmoxing:before {
  content: "\e721";
}

.icon-model:before {
  content: "\e63b";
}

.icon-Excel:before {
  content: "\e601";
}

.icon-File:before {
  content: "\e602";
}

.icon-Word:before {
  content: "\e603";
}

.icon-PPT:before {
  content: "\e604";
}

.icon-yasuobao:before {
  content: "\e606";
}

.icon-weizhiwenjian:before {
  content: "\e607";
}

.icon-Gif:before {
  content: "\e608";
}

.icon-Pdf:before {
  content: "\e609";
}

.icon-txt:before {
  content: "\e60a";
}

.icon-WPSword:before {
  content: "\e616";
}

.icon-a-3D:before {
  content: "\e617";
}

.icon-zhu:before {
  content: "\e60d";
}

.icon-fa:before {
  content: "\e60e";
}

.icon-fan:before {
  content: "\e60f";
}

.icon-gong:before {
  content: "\e610";
}

.icon-ji:before {
  content: "\e611";
}

.icon-la:before {
  content: "\e612";
}

.icon-pian:before {
  content: "\e613";
}

.icon-tong:before {
  content: "\e614";
}

.icon-xu:before {
  content: "\e615";
}

.icon-fu:before {
  content: "\e60b";
}

.icon-she:before {
  content: "\e60c";
}

.icon-icon66:before {
  content: "\e759";
}

.icon-icon76:before {
  content: "\e763";
}

.icon-icon77:before {
  content: "\e764";
}

.icon-icon81:before {
  content: "\e768";
}

.icon-icon102:before {
  content: "\e77d";
}

.icon-icon106:before {
  content: "\e781";
}

.icon-icon107:before {
  content: "\e782";
}

.icon-icon108:before {
  content: "\e783";
}

.icon-icon110:before {
  content: "\e785";
}

.icon-icon111:before {
  content: "\e786";
}

.icon-icon114:before {
  content: "\e789";
}

.icon-thenewform:before {
  content: "\e78d";
}

.icon-newdata:before {
  content: "\e78e";
}

.icon-newstatistics:before {
  content: "\e78f";
}

.icon-othernew:before {
  content: "\e790";
}

.icon-icon115:before {
  content: "\e793";
}

.icon-icon116:before {
  content: "\e794";
}

.icon-icon126:before {
  content: "\e79e";
}

.icon-icon127:before {
  content: "\e79f";
}

.icon-a-yearselection:before {
  content: "\e7a2";
}

.icon-a-dateinterval:before {
  content: "\e7a3";
}

.icon-a-timeselection:before {
  content: "\e7a4";
}

.icon-a-Dateandtimeselection:before {
  content: "\e7a8";
}

.icon-accessory:before {
  content: "\e7a9";
}

.icon-liuchengyinqing:before {
  content: "\e7ca";
}

.icon-icon131:before {
  content: "\e656";
}

.icon-icon132:before {
  content: "\e657";
}

.icon-icon134:before {
  content: "\e658";
}

.icon-icon137:before {
  content: "\e659";
}

.icon-icon136:before {
  content: "\e65a";
}

.icon-icon1391:before {
  content: "\e65b";
}

.icon-icon144:before {
  content: "\e65c";
}

.icon-icon130:before {
  content: "\e65d";
}

.icon-icon140:before {
  content: "\e65e";
}

.icon-icon135:before {
  content: "\e6a7";
}

.icon-icon141:before {
  content: "\e6a8";
}

.icon-icon138:before {
  content: "\e6a9";
}

.icon-icon171:before {
  content: "\e6ac";
}

.icon-icon172:before {
  content: "\e6ad";
}

.icon-icon1161:before {
  content: "\e6b0";
}

.icon-icon153:before {
  content: "\e7e3";
}

.icon-username:before {
  content: "\e640";
}

.icon-password:before {
  content: "\e641";
}

.icon-a-confirmpassword:before {
  content: "\e738";
}

.icon-pingpu:before {
  content: "\e633";
}

.icon-moban:before {
  content: "\e634";
}

.icon-liebiao:before {
  content: "\e635";
}

.icon-more:before {
  content: "\e636";
}

.icon-right-arrow:before {
  content: "\e637";
}

.icon-down-arrow:before {
  content: "\e638";
}

.icon-close:before {
  content: "\e639";
}

.icon-edit:before {
  content: "\e63a";
}

.icon-delete:before {
  content: "\e63d";
}

.icon-copy:before {
  content: "\e63e";
}

.icon-pageup:before {
  content: "\e63f";
}

.icon-chakan:before {
  content: "\e642";
}

.icon-page:before {
  content: "\e643";
}

.icon-add:before {
  content: "\e644";
}

.icon-forward:before {
  content: "\e645";
}

.icon-backward:before {
  content: "\e646";
}

.icon-paste:before {
  content: "\e647";
}

.icon-cut:before {
  content: "\e648";
}

.icon-location:before {
  content: "\e649";
}

.icon-move:before {
  content: "\e64a";
}

.icon-paixu:before {
  content: "\e64b";
}

.icon-file:before {
  content: "\e64c";
}

.icon-message:before {
  content: "\e64d";
}

.icon-all:before {
  content: "\e64e";
}

.icon-modelku:before {
  content: "\e64f";
}

.icon-home:before {
  content: "\e650";
}

.icon-set:before {
  content: "\e651";
}

.icon-people:before {
  content: "\e653";
}

.icon-layout:before {
  content: "\e654";
}

.icon-flow:before {
  content: "\e739";
}

.icon-find:before {
  content: "\e73a";
}

.icon-icon14:before {
  content: "\e678";
}

.icon-icon15:before {
  content: "\e679";
}

.icon-icon22:before {
  content: "\e680";
}

.icon-icon36:before {
  content: "\e68e";
}

.icon-icon37:before {
  content: "\e68f";
}

.icon-icon38:before {
  content: "\e690";
}

.icon-icon39:before {
  content: "\e691";
}

.icon-icon40:before {
  content: "\e692";
}

.icon-icon41:before {
  content: "\e693";
}

.icon-icon42:before {
  content: "\e694";
}

.icon-icon43:before {
  content: "\e695";
}

.icon-icon44:before {
  content: "\e696";
}

.icon-icon45:before {
  content: "\e697";
}

.icon-icon62:before {
  content: "\e755";
}

.icon-icon64:before {
  content: "\e757";
}

